* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f5f7fa;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#navbar .logo {
  font-size: 45px;
  font-weight: 600;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 22px;
  top: 2%;
}

#navbar .options ul {
  display: flex;
  cursor: pointer;
  color: white;
  list-style: none;
  font-size: 20px;
  position: absolute;
  top: 4%;
  left: 190px;
}
#navbar .options ul li {
  margin-left: 30px;
}

#navbar .options ul li:hover {
  color: crimson;
  text-decoration: underline;
}

#navbar .end-page:hover {
  color: crimson;
  cursor: pointer;
}

#navbar .enter-button {
  padding: 10px 29px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 18px;
  position: absolute;
  right: 22px;
  top: 3.7%;
}

.end-page .world {
  display: flex;
  position: absolute;
  right: 150px;
  top: 5%;
  color: white;
  align-items: center;
  text-transform: uppercase;
}

.end-page .world:hover {
  color: crimson;
}

.end-page .world p {
  margin-left: 9px;
}

/* Abaixo da NavBar */
.imagebg {
  padding-top: 5px;
  background-image: url(assets/pexels-sound-on-3756879.jpg);
  box-shadow: inset 0px 100px 1000px #000000;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.middle-part h1 {
  font-size: 110px;
  white-space: nowrap;
  color: white;
  text-align: center;
  margin-top: 190px;
  letter-spacing: 4px;
  font-weight: bold;
}

.middle-part button {
  background: linear-gradient(45deg, #fd267a, #ff6036);
  color: white;
  margin-left: 42%;
  padding: 23px 70px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1px;
  margin-top: 35px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 500px;
  cursor: pointer;
}

#cards {
  display: flex;
  grid-template-columns: column;
  gap: 15px;
  padding: 40px 5%;
}

#cards .first-card h2 {
  padding-left: 10px;
  padding-bottom: 30px;
  font-size: 18px;
  color: black;
}
#cards .first-card .card-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(228, 224, 224);
  font-size: 40px;
}

#cards .first-card {
  text-align: justify;
  height: 300px;
  border: 1px solid rgb(226, 212, 212);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding-left: 2%;
  padding-top: 30px;
  padding-right: 2%;
  color: rgb(131, 125, 125);
}

#cards .second-card {
  text-align: justify;
  height: 300px;
  border: 1px solid rgb(226, 212, 212);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding-left: 2%;
  padding-top: 30px;
  padding-right: 2%;
  color: rgb(131, 125, 125);
}

#cards .second-card h2 {
  padding-left: 10px;
  padding-bottom: 30px;
  font-size: 18px;
  color: black;
}
#cards .second-card h2 span {
  margin-left: 290px;
  color: rgb(131, 125, 125);
  position: absolute;
  font-size: 40px;
}

#cards .third-card {
  text-align: justify;
  height: 300px;
  border: 0.1px solid rgb(226, 212, 212);
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding-left: 2%;
  padding-top: 30px;
  padding-right: 2%;
  color: rgb(131, 125, 125);
}

#cards .third-card h2 {
  padding-left: 10px;
  padding-bottom: 30px;
  font-size: 18px;
  color: black;
}
#cards .third-card h2 span {
  margin-left: 270px;
  color: rgb(131, 125, 125);
  position: absolute;
  font-size: 40px;
}
#info h1 {
  text-transform: uppercase;
}

#info li {
  grid-template-columns: column;
  list-style: none;
  margin-bottom: 12px;
  color: var(--color--text-text-field-quiet-placeholder);
  margin-right: 70px;
}

#info {
  display: inline-flex;
  grid-template-columns: column;
  margin-left: 75px;
  justify-content: space-around;
}

#info .juridical h1 {
  margin-bottom: 20px;
}
#info .juridical ul li {
  cursor: pointer;
}

#info .jobs ul li {
  cursor: pointer;
}
#info .juridical ul li:hover {
  color: crimson;
}

#info .jobs ul li:hover {
  color: crimson;
}

#info .jobs h1 {
  margin-bottom: 20px;
}

#info .social-media i {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 29px;
  color: rgb(56, 49, 49);
}

#info .social-media a i:hover {
  color: crimson;
}

#info .social-media h1 {
  margin-left: 12px;
}

#info .social-media {
  padding-right: 19px;
}

#info .questions {
  margin-left: 90px;
  margin-top: 20px;
  cursor: pointer;
}

#info .questions ul li:hover {
  color: crimson;
}

#download {
  display: flex;
  margin-top: 50px;
  margin-left: 75px;
  text-transform: uppercase;
  align-items: center;
}

#download .image1 {
  margin-left: 40px;
  margin-right: 60px;
  cursor: pointer;
}

#download .image2 {
  cursor: pointer;
}

.info2 {
  margin-top: 40px;
  text-align: justify;
  margin-left: 75px;
  margin-right: 75px;
  color: rgb(131, 125, 125);
}

footer ul {
  display: flex;
  list-style: none;
  font-size: 15px;
  color: rgb(131, 125, 125);
  margin-top: 30px;
  margin-left: 75px;
  cursor: pointer;
  gap: 5px;
}
footer ul li:hover {
  color: crimson;
}

.last {
  margin-left: 280px;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 330px 20px 13px;
  border: 1px solid #888;
  width: 30vw;
  height: 98vh;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.close {
  color: #ccb9b9;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -320px;
  opacity: 199%;
}
.close:hover,
.close:focus {
  color: #888;
  text-decoration: none;
  cursor: pointer;
}
.logo-content {
  text-align: center;
  color: crimson;
  margin-top: -299px;
  font-size: 40px;
}

.modal-content h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
  text-transform: uppercase;
  font-style: italic;
}

.modal-content p {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  color: rgb(131, 125, 125);
}
.modal-content .advise {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  color: rgb(131, 125, 125);
  text-decoration: underline;
  cursor: pointer;
}

.modal-content a {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  color: rgb(131, 125, 125);
}
.modal-content p b {
  color: rgb(88, 79, 79);
}

#myModal .inside-content {
  text-transform: uppercase;
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  padding: 10px;
  margin-top: 20px;
  list-style: none;
  cursor: pointer;
}
#myModal .inside-content li {
  align-items: center;
  justify-content: center;
  text-align: center;
}

#myModal button {
  color: black;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
  font-size: 14px;
}

.last-one {
  margin-bottom: 20px;
}

#images {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
